@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-color-input{

  background-color: #251E40;
}

.bg-main-page{

  background-color: #2D1059;
}
.text-selected-rank-info-color {
  color: #7863D5;
}